<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}

    <div class="main_container">
        <div class="text_container">
            <h2>Welcome to <span> weather </span>app hope you will like it</h2>
        <a href="/weather" class="cta_button">Get Started</a>
        </div>

<div class="carousel_container">
    <img src="./images/fun-3d-cartoon-teenage-kids.jpg" alt="" class="aboutme_img">  
</div>
    </div>
    {{>footer}}
</body>
</html>